/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-feb-2018, 22.30.53
    Author     : andrea
*/
html{
    font-size: 0.67em !important;
}
.col-value{
    font-size: 0.9em !important;
    font-style: oblique !important;    
}

.materiale-pratica-item {
    border-width: 0.08em !important;
    border-style: solid;
    border-color: #999999;
}